/*  *{
  border:solid 1px red;
}  */
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 10px;
  background-color: #b3deff;
}
.nav-item {
  background-color: white;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
li:hover {
  background-color: #a1c8e6;
}
.navbar-nav {
  margin-left: 150px;
}
h1 {
  color: #34404a;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans TC", sans-serif;
}
p {
  color: #34404a;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans TC", sans-serif;
}

.l1 {
  background-color: #b3deff;
  padding: 5px;
  text-align: center;
  font-size: 24px;
  font-family: "Noto Sans TC", sans-serif;
  color: white;
}

.l1 p {
  font-size: 20px;
}
a {
  font-family: "Noto Sans TC", sans-serif;
  text-align: center;
}

.card-body {
  margin-bottom: 0px;
  margin-top: 0px;
}
.card-img-bottom {
  padding-bottom: 45px;
  padding-top: 45px;
  background-color: #a1c8e6;
}
.videoname {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  background-color: #a1c8e6;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}
section {
  margin-top: 50px;
}
.row {
  margin-top: 20px;
}
.buttongroup {
  position: relative;
  display: flex;
  justify-content: center;
}
.btn-outline-secondary {
  margin-left: 10px;
}
section#s6 {
  margin-bottom: 200px;
}

.toTop-arrow {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #345875;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.toTop-arrow::before,
.toTop-arrow::after {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: white;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.5rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.5rem;
}
.toTop-arrow:focus {
  outline: none;
}